body {
    background: #121212;
    color: rgb(220, 220, 220);
}
#addLotForm {
    background: rgba(255, 255, 255, 0.383);
    padding: 4px;
    border-radius: 20px 4px;
    margin: 2px;
}
.form-group input {
    background: rgba(248, 248, 248, 0.15);
}

#quickstats div {
    border: 1px solid #666;
    padding: 2px;
}
#quickstats div div{
    background: #666;
    display: flex;
    width: 100%; border-radius: 4px;
    padding: 1px;
}

#quickstats div div span{
    background: rgb(255, 0, 55);
    padding: 4px;border-radius: 4px; display: flex;
    font-weight: 700; font-size: large;
}