body {
    background: url("../images/landing.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    cursor: default;
}
.landing {
    background: url("../images/landing.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.min-vh-90 {
    min-height: 90vh;
}
.flex-fill {
    margin: 1px;
}
#lotfloor {
    background: url("../images/texture.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid #E5D663;
}
#turnspace:hover {
    box-shadow: 2px 2px 2px #000;
    transition: all .5s;
}

#turnspace {
    transition: all .5s;
    border: 2px solid #E5D663;
    border-radius: 4px;
    background: repeating-linear-gradient(45deg,
  #00000000,
  #00000036 15px,
  #E5D663 0,
  #E5D663 40px);
    color: #fff;
    font-weight: 900;
    writing-mode: vertical-rl; display: flex;
    text-orientation: mixed; justify-content: center; align-items: center;
    font-size: xx-large; text-shadow: 2px 2px #000000;
}
#leftlots div, #rightlots div{
    border: solid #E5D663;
    display: flex;
    justify-content: center;
    align-items: center; color: #fff;
    text-shadow: 3px 2px 1px #000000; font-weight: 900;
    font-size: x-large;
}
.lotSpecial {
    background: rgba(132, 0, 255, 0.692);
}
.lotBooked {
    background: rgba(255, 0, 0, 0.589);
}
.lotAvailable {
    background: rgba(0, 128, 0, 0.609);
}
.lotInactive {
    background: rgba(128, 128, 128, 0.678);
}
#leftlots div:hover, #rightlots div:hover{
    background: rgba(53, 169, 236, 0.582);
    border-radius: 6px;
    transition: .4s;
}
#leftlots div{
    border-width: 0 0 2px 2px;
}
#rightlots div{
    border-width: 0 2px 2px 0;
}


#turn-landscape {
    background: rgba(0, 0, 0, 0.76);
    display: none;
    font-size: xx-large;
}

.loader {
    border: 16px double #f3f3f3; /* Light grey */
    border-top:16px double rgba(255, 68, 0, 0);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: loader 2s linear infinite;
  }
  
  @keyframes loader {
    0% { transform: rotate(360deg); }
    50% { transform: rotate(270deg);}
    100% { transform: rotate(-360deg); }
  }